  <header class="card-header">
    <p class="card-header-title"><%= entry.meal_type %> | <%= entry.category.title  if entry.category.present?%>
  </header>

  <div class="card-content">
    <div class="content">
      <p><span class="has-text-weight-bold"><%= entry.calories %></span> Calories</p>
      <p><span class="has-text-weight-bold"> <%= entry.proteins %></span> Grams of Protien</p>
      <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> Grams of Carbohydrates</p>
      <p><span class="has-text-weight-bold"><%= entry.fats %></span> Grams of Fat</p>
      <p class="italic">Logged <%= time_ago_in_words(entry.created_at)%> ago</p>
    </div>
  </div>
